html
  head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")

  body
    .hero.is-primary.is-medium(style="background-color: #103960")
      .hero-body
        .container
          .content
            h1.title Nestjsx
            h4.subtitle A collection of handy nestjs packages
    section.section
      .container
        .content
          h2.title  What do we build
          p Currently, we're building this website. Or at least thinking about it. Or discussing it or something. 
            a(href="https://github.com/nestjsx/") Check out our github